.contactanos{
    font-weight: 1000px;
    font-family: Consolas, monaco, monospace ;
    font-size: 300px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #ff004e;
    color: white;
}


